@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* - Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%) */

/* font-family: 'Roboto', sans-serif; */

body {
    background-color: hsl(235, 18%, 26%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
}

main {
    background-color: hsl(0, 0%, 100%);
    

    display: flex;
    padding: 10px;

    border-radius: 40px;
    
}

.content {
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    padding: 45px;


} 

.photo {
    background-color: blue;
    background-image: url(../dia02-reto2/assets/images/illustration-sign-up-desktop.svg);
    background-size: cover; 
    width: 400px;
    height: 600px;
    margin: 20px;
    border-radius: 20px;
}

.content h1 {
    font-size: 50px;
    justify-content: center;
    font-weight: 700;
    display: flex;
}

.content p {
    font-size: 16px;
    font-weight: 400;
}

.content div p{
    line-height: 1.5;
    align-content: center;
    display: flex;
}

.content div {
    margin-bottom: 40px;
}

img  {
/* background-color: green; */
margin-right: 20px;
align-items: center;
justify-content: center;
}

label {
    font-size: 12px;
    font-weight: 700;
}


.content label input {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    /* display: inline-block; */
    /* border: 1px solid #ccc; */   
    border-radius: 8px;
    box-sizing: border-box;
    height: 60px;
    color: hsl(234, 29%, 20%);
}

.content button {
    width: 100%;
    padding: 10px 20px;
    background-color: hsl(235, 18%, 26%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    height: 60px;
}